<div class="status">
  Trump: <%= @game_state.trump_suit.capitalize %><br />
  <br />
  Trick Counter: <%= @game_state.trick_count %><br />
</div>

<% if @game.players.size == 4 %>
  <%= render partial: "games/table/four_player" %>
<%else%>
  <%= render partial: "games/table/two_player" %>
<%end%>

