<div class="status">
  Points: <%= @game_state.players.map(&:total_score) %><br />
  Dealer: <%= @game_state.dealer.name %><br />
</div>

<% if @game.players.size == 4 %>
  <%= render partial: "four_player_show" %>
<%else%>
  <%= render partial: "two_player_show" %>
<%end%>

