
<h4>Trump Selection</h4>

<div class="center_card">
  <%= unicode_suit(@game_state.trump_state.selection_suit) %>
</div>

<div>
  <a href="<%= accept_trump_operation_url %>">
    <button type="button" >Accept</button>
  </a>
  <a href="<%= pass_trump_operation_url %>">
    <button type="button" >Pass</button>
  </a>
</div>

<h5>Hand</h5>

<div style="width: px; margin: 0 auto 0 auto">
  <%= render partial: 'games/table/hand',
    locals: { player: @game_state.main_player } %>
</div>
