<center>
  <div class="new_heading">
    <h2 class="header">
      Euchre
    </h2>
    <font class="card">
      <%= unicode_card(Card.new(:spades, 1)) %>
    </font>

    <div class="selection_box">
      <%= render partial:"game_creator_form" %>
    </div>
  </div>

</center>
