
<div class="title">Euchre</div>

<a href="<%= user_path(@user) %>">
<button type="button" class="restart_button">Restart Game</button>
</a>

<% if @game_state.in_trump_selection? %>
  <%= render partial: 'trump_selection' %>
<% elsif @game_state.in_discard_phase? %>
  <%= render partial: 'discard' %>
<% else %>
  <%= render partial: 'table' %>
<% end %>
