<div class="hand">
  <div class="player_space_header">
    <div class="player_points"><%= player.total_score %> Points</div>
  </div>

  <% player.hand.each do |card| %>
    <%= @game.link_to_card(card, player: player, operation_type: "play_card") %>
  <% end %>
</div>

