<div class="hand">

  <div class="player_space_header">
    <div class="player_points">
      <%= player.total_score %> Points
    </div>
  </div>

  <% player.hand.each do |card| %>
    <span class="<%= hand_card_css_class(static: true)  %>">
      <%= unicode_card_back %>
    </span>
  <%end%>
</div>
