<div class="player_space">
  <% hidden = defined?(hidden) ? hidden : false %>

  <%= render partial: 'games/table/hand',
      locals: {  player: player, operation_type: "play_card", hidden: hidden } %>

  <div class="won_cards">
    <% player.scored_cards.each do |card| %>
    <%= unicode_card(card) %>
    <% end %>
  </div>

  <% if @game_state.dealer == player %>
    <div class="dealer_badge"><div>Dealer</div></div>
  <% end %>
  <% if @game_state.round_leaders.include? player %>
    <div class="leader_badge"><div>Leader</div></div>
  <% end %>

  <div class="player_name"><%= player.player.user.name.capitalize %></div>
</div>
