<!DOCTYPE html>
<html>
<head>
  <title>RailsEuchre</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if rand(0..100) > 95 %>
  <style>body { font-family: Comic Sans MS; }</style>
<% end %>

<div id="header">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/">Placeholder</a></li>
    <li><a href="/">Placeholder</a></li>
    <li><a href="/">Placeholder</a></li>
    <li><a href="/">Placeholder</a></li>
  </ul>
</div>

<div id="content">
  <%= yield %>
</div>

<div id="footer">
  hello
</div>

</body>
</html>
