<!DOCTYPE html>
<html>
<head>
  <title>RailsEuchre</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% is_tana = %x{ whoami }.chomp == "tanatanoi" %>
<% admin_mode  = is_tana && (rand(0..30) == 15) %>

<% if admin_mode %>
  <style>body { font-family: Comic Sans MS; }</style>
  <% system("say my name is tana and i don't like marcel") %>
<% end %>

<div id="header">
  <ul>
    <li><a href="/users">View Users</a></li>
    <li><a href="/users/new">New User</a></li>
  </ul>
</div>

<div id="content">

<% if admin_mode %>
<marquee><blink>
<% end %>

  <%= yield %>
<% if admin_mode %>
</blink></marquee>
<% end %>
</div>

<div id="footer">
  hello
</div>

</body>
</html>
